/* css reset w/ basics */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-display: arial, helvetica;
  line-height: 1.5rem;
  color: var(--text-primary);
}

/* color variables */

:root {
  /* backgrounds */
  --bg-primary: #b22234;
  --bg-secondary: #aebcc4;

  /* text colors */
  --text-primary: #3c3b6e;
  --text-secondary: #fff;

  /* test colors */
  --test: navy;
}
