#main__nav {
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
  background: var(--bg-primary);
}

.nav__item {
  list-style: none;
  margin-top: 1rem;
}

.nav__item a {
  text-decoration: none;
  color: #000;
}

.nav__item a:hover {
  color: var(--text-secondary);
}
