p-1 {
  padding: 0.5rem;
}
p-2 {
  padding: 1rem;
}
p-3 {
  padding: 1.5rem;
}

m-1 {
  margin: 0.5rem;
}
m-2 {
  margin: 1rem;
}
m-3 {
  margin: 1.5rem;
}

.hero__img {
  /* Photo by Samuel Branch on Unsplash */
  background: url("/who_is_sky/img/american_flag.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 75vh;
  align-content: center;
  text-align: center;
}
